/* Estilos para el botón */
 .botonvolver button {
    font-size: 30px;
    border-radius: 6px;
    background-color: #f57c00; /* Naranja */
    color: #fff; /* Texto blanco */
    border: none;
    padding: 10px 25px;
    margin-top: 5px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    animation: pulse 2s infinite;
   }
   
   /* Efecto al pasar el cursor sobre el botón */
    .botonvolver button:hover {
    background-color: #ff9a9e; /* Naranja más oscuro al pasar el cursor */
    transform: scale(1.05); /* Aumentar el tamaño al pasar el cursor */
   }